/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.11.2014, 17:44:46
    Author     : Konsi
*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
body {
    margin: 0px;
    //height:1500px;
    font-family: Lato;
}
#header {
    //border: 1px solid #666;
    width:100%;
    //min-width: 1100px; 
    height: 215px;
    z-index: 255;
}

figure {
    margin: 0;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
/*Standard syntax*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
div#banner {
    overflow: hidden;
    width: 100%;
    height: 170px;
}
div#banner figure img {
    width: 20%;
    float: left;
}
div#banner figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  /* Chrome, Safari, Opera */
  -webkit-animation: 30s slidy infinite;
  /* Standard syntax */
  animation: 30s slidy infinite;
}
#navi {
    position: absolute;
    width: 100%;
    height: 45px;
    left:0%;
    margin-left: 0%;
    background-color:#ddd;
    z-index: 9999;
}
ul#Navigation {
    margin: 0; padding: 0;
    //margin-left: -483px;
    text-align: center;
    height: 45px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
}
ul#Navigation li {
    list-style: none;
    float: left;
    margin-right: 1px;
}
ul#Navigation a {
    //padding: 13px 20px;
    text-decoration: none;
    //font-weight: bold;
    color: #FFFFFF; 
    background: #2f3036;
    display: block;
    min-width: 160px;
    height: 45px;
    line-height: 45px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    text-transform: uppercase;
}

ul#Navigation a:hover, a:active {
    border-color: white;
    border-left-color: black; border-top-color: black;
    color: #ccc;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	display: none;
        height: 45px;
        line-height: 45px;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #Navigation{
    display: block;
}
label.show-menu:hover {
    cursor: pointer;
}
/*Responsive Styles*/

@media screen and (max-width : 1016px){
	/*Make dropdown links appear inline*/
	ul#Navigation {
		position: static;
		display: none;
                margin: 0;
	}
	/*Create vertical spacing*/
	li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	ul li, li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
}
input[type="text"] {
  height: 33px;
  font-size: 20px;
  display: inline-block;
  font-family: "Lato";
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 30px;
  width: 0px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%); /*Zentrierung mit CSS3*/
  right: 10px;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
  width: 120px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}

input[type="submit"] {
  height: 40px;
  width: 40px;
  display: inline-block;
  float: right;
  background: url(../resources/search-button.png) center center no-repeat;
  border: none;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%); /*Zentrierung mit CSS3*/
  right: 10px;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

input[type="submit"]:hover {
  opacity: 0.8;
}
div.ui-datepicker{
  font-size: 15px;
}
#inhalt {
    position: absolute;
    width: 70%;
    /* min-width: 600px; optional, looking bad at resized browser window*/
    height: auto;
    top: 250px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    background-color:#F5F5F5;
    overflow: hidden;
    
}
#kalender {
    height: 300px;
    border: 1px solid black;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#infos {
    height: auto;
    border: 1px solid black;
    margin-bottom: 20px;
}
#impressum {
    min-height: 50px;
    border: 1px solid black;
    overflow: hidden;
}
/*===================*/
/*Alex' Code*/
.title {
    background-color: #2F3036;
    color: white;
    position: relative;
}
h3 {
    color: white;
    font-weight: normal;
    padding-left: 5px;
}

.infoBlock {
    padding-left: 1%;
    width: 98%;
    position: relative;
}
#infoBlock1 {
    height: 250px;
}
#titleQuickInfo {
    width: 59%;
}
table#ContentsTable {
    width: 50%;
}
#infoPictures {
    position: absolute; 
    top: 0px;
    right: 0px;
    width: 39%;
    height: 250px;
    text-align: justify; /*centers the small images with equal spacing*/
    overflow: hidden;
}
#infoPictures:after {
    content: ''; /*centers the small images with equal spacing*/
    width: 100%;
    display: inline-block;
}
#infoPicturesBig {
    position: relative;
    width: 100%;
    height: 75%;
    border: 1px solid black;
    overflow: hidden;   
}
.infoPicturesSub {
    position: relative;
    width: 32%;
    height: 23%;
    display: inline-block; /*subpictures in one line*/
    margin-top: 2%;
    overflow: hidden; 
}
#mainimage {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%); /*Shows the center of the image*/
}
.subImage {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%); /*Shows the center of the image*/
    width: 100%;
    height: 100%;
}
#infoBlockAnfahrtText {
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    top: 50%;                         
    transform: translate(0, -50%);
}

p#anfahrtTextP {
    position:relative;
    margin-top: 0;
}
h4 {
    margin-bottom: 6px;
}

/*Alex' Code*/
/*===================*/

#impressum a {
    color: #FFFFFF; 
    background: #2f3036;
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    min-width: 100px;
    height: 20px;
    line-height: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 5px 5px 0; 
}
#impressum a:hover {
    color: #ccc;
}
#impdetails  {
    width: 98%;
    overflow: hidden;
    position: relative;
    //border: 1px solid black;
    margin: 5px 0;
    //display: none;
}
#team, #styleguide, #mockups {
    min-height: 20px;
    overflow: hidden;
    display: none;
}
.BoxGlow_Grey2{
    box-shadow: 0 5px 15px rgba(176,176,176, 1);
    -webkit-box-shadow: 0 5px 15px rgba(176,176,176, 1); 
    -moz-box-shadow: 0 5px 15px rgba(176,176,176, 1);
}
