/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.11.2014, 17:44:46
    Author     : Konsi
*/
body {
    margin-top: 0px;
    //height:1500px;
}
#header {
    border: 1px solid #666;
    width:100%;
    min-width: 1100px; 
    height: 215px;
    z-index: 255;
}
#banner { 
    width: 100%;
    height: 170px;
    background-image: url(../resources/panorama-dresden.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
#navi {
    position: absolute;
    width: 80%;
    height: 45px;
    left:50%;
    margin-left: -40%;
    background-color:#e52443;
    z-index: 9999;
}
ul#Navigation {
    margin: 0; padding: 0;
    margin-left: -570px;
    text-align: center;
    height: 45px;
    position: absolute;
    left: 50%;
}
ul#Navigation li {
    list-style: none;
    float: left;
}
ul#Navigation a {
    padding: 13px 20px;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF; 
    background-color: #98bf21;
    display: block;
    width: 150px;
    text-transform: uppercase;
}

ul#Navigation a:hover, a:active {
    border-color: white;
    border-left-color: black; border-top-color: black;
    color: white; background-color: #7A991A;
}
#inhalt {
    position: absolute;
    width: 70%;
    /* min-width: 600px; optional, looking bad at resized browser window*/
    height: auto;
    top: 250px;
    left: 50%;
    margin-left: -35%; /*5% Prozent Außenabstand nach links und rechts*/
    background-color:#ddd;
}
#kalender {
    height: 300px;
    border: 1px solid black;
    margin-bottom: 20px;
}
#infos {
    height: 300px;
    border: 1px solid black;
    margin-bottom: 20px;
}
#impressum {
    height: 50px;
    border: 1px solid black;
}
.BoxGlow_Grey2{
    box-shadow: 0 5px 15px rgba(176,176,176, 1);
    -webkit-box-shadow: 0 5px 15px rgba(176,176,176, 1); 
    -moz-box-shadow: 0 5px 15px rgba(176,176,176, 1);
}
